:root {
  --ion-color-primary: #41b06e;
  --ion-color-primary-rgb: 65, 176, 110;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #399b61;
  --ion-color-primary-tint: #54b87d;

  --ion-color-secondary: #8decb4;
  --ion-color-secondary-rgb: 141, 236, 180;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #7cd09e;
  --ion-color-secondary-tint: #98eebc;

  --ion-color-accent: #141e46;
  --ion-color-accent-rgb: 20, 30, 70;
  --ion-color-accent-contrast: #ffffff;
  --ion-color-accent-contrast-rgb: 255, 255, 255;
  --ion-color-accent-shade: #121a3e;
  --ion-color-accent-tint: #2c3559;

  --ion-background-color: #f8f8ff;
	--ion-background-color-rgb: 248,248,255;

	--ion-text-color: #050315;
	--ion-text-color-rgb: 5,3,21;

	--ion-text-color-step-50: #110f21;
	--ion-text-color-step-100: #1d1c2c;
	--ion-text-color-step-150: #292838;
	--ion-text-color-step-200: #363444;
	--ion-text-color-step-250: #424050;
	--ion-text-color-step-300: #4e4c5b;
	--ion-text-color-step-350: #5a5967;
	--ion-text-color-step-400: #666573;
	--ion-text-color-step-450: #72717e;
	--ion-text-color-step-500: #7f7e8a;
	--ion-text-color-step-550: #8b8a96;
	--ion-text-color-step-600: #9796a1;
	--ion-text-color-step-650: #a3a2ad;
	--ion-text-color-step-700: #afafb9;
	--ion-text-color-step-750: #bbbbc5;
	--ion-text-color-step-800: #c7c7d0;
	--ion-text-color-step-850: #d4d3dc;
	--ion-text-color-step-900: #e0e0e8;
	--ion-text-color-step-950: #ececf3;

	--ion-background-color-step-50: #ececf3;
	--ion-background-color-step-100: #e0e0e8;
	--ion-background-color-step-150: #d4d3dc;
	--ion-background-color-step-200: #c7c7d0;
	--ion-background-color-step-250: #bbbbc5;
	--ion-background-color-step-300: #afafb9;
	--ion-background-color-step-350: #a3a2ad;
	--ion-background-color-step-400: #9796a1;
	--ion-background-color-step-450: #8b8a96;
	--ion-background-color-step-500: #7f7e8a;
	--ion-background-color-step-550: #72717e;
	--ion-background-color-step-600: #666573;
	--ion-background-color-step-650: #5a5967;
	--ion-background-color-step-700: #4e4d5b;
	--ion-background-color-step-750: #424050;
	--ion-background-color-step-800: #363444;
	--ion-background-color-step-850: #292838;
	--ion-background-color-step-900: #1d1b2c;
	--ion-background-color-step-950: #110f21;
}

.ion-color-primary {
  --ion-color-base: var(--ion-color-primary);
  --ion-color-base-rgb: var(--ion-color-primary-rgb);
  --ion-color-contrast: var(--ion-color-primary-contrast);
  --ion-color-contrast-rgb: var(--ion-color-primary-contrast-rgb);
  --ion-color-shade: var(--ion-color-primary-shade);
  --ion-color-tint: var(--ion-color-primary-tint);
}

.ion-color-secondary {
  --ion-color-base: var(--ion-color-secondary);
  --ion-color-base-rgb: var(--ion-color-secondary-rgb);
  --ion-color-contrast: var(--ion-color-secondary-contrast);
  --ion-color-contrast-rgb: var(--ion-color-secondary-contrast-rgb);
  --ion-color-shade: var(--ion-color-secondary-shade);
  --ion-color-tint: var(--ion-color-secondary-tint);
}

.ion-color-accent {
  --ion-color-base: var(--ion-color-accent);
  --ion-color-base-rgb: var(--ion-color-accent-rgb);
  --ion-color-contrast: var(--ion-color-accent-contrast);
  --ion-color-contrast-rgb: var(--ion-color-accent-contrast-rgb);
  --ion-color-shade: var(--ion-color-accent-shade);
  --ion-color-tint: var(--ion-color-accent-tint);
}

::-ms-reveal {
  display: none;
}